<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>users</key>
	<array>
		<dict>
			<key>name</key>
			<string>马晶晶</string>
			<key>image</key>
			<string>马晶晶.jpg</string>
			<key>location</key>
			<string>武汉市雄楚大道名都花园105栋</string>
			<key>work</key>
			<string>平面模特</string>
			<key>phone</key>
			<string>13467540001</string>
		</dict>
		<dict>
			<key>phone</key>
			<string>13467540001</string>
			<key>work</key>
			<string>平面模特</string>
			<key>location</key>
			<string>北京大学</string>
			<key>image</key>
			<string>宫冷馨.jpg</string>
			<key>name</key>
			<string>宫冷馨</string>
		</dict>
		<dict>
			<key>phone</key>
			<string>13467540002</string>
			<key>work</key>
			<string>设计师</string>
			<key>location</key>
			<string>武汉大学</string>
			<key>image</key>
			<string>周昕妤.jpg</string>
			<key>name</key>
			<string>周昕妤</string>
		</dict>
		<dict>
			<key>phone</key>
			<string>13467540003</string>
			<key>work</key>
			<string>淘女郎</string>
			<key>location</key>
			<string>武汉工程大学</string>
			<key>image</key>
			<string>咪娜.jpg</string>
			<key>name</key>
			<string>咪娜</string>
		</dict>
		<dict>
			<key>phone</key>
			<string>13467540004</string>
			<key>name</key>
			<string>许喵喵</string>
			<key>image</key>
			<string>许喵喵.jpg</string>
			<key>location</key>
			<string>广州医科大学</string>
			<key>work</key>
			<string>游戏模特</string>
		</dict>
		<dict>
			<key>phone</key>
			<string>13467540005</string>
			<key>work</key>
			<string>模特</string>
			<key>location</key>
			<string>大连理工大学</string>
			<key>image</key>
			<string>肖与晨.jpg</string>
			<key>name</key>
			<string>肖与晨</string>
		</dict>
		<dict>
			<key>phone</key>
			<string>13467540006</string>
			<key>work</key>
			<string>模特</string>
			<key>location</key>
			<string>深圳大学</string>
			<key>image</key>
			<string>夏小秋.jpg</string>
			<key>name</key>
			<string>夏小秋</string>
		</dict>
		<dict>
			<key>phone</key>
			<string>13467540007</string>
			<key>work</key>
			<string>模特</string>
			<key>location</key>
			<string>华中科技大学</string>
			<key>image</key>
			<string>王馨漪.jpg</string>
			<key>name</key>
			<string>王馨漪</string>
		</dict>
		<dict>
			<key>phone</key>
			<string>13467540008</string>
			<key>work</key>
			<string>模特</string>
			<key>location</key>
			<string>北京航空航天大学</string>
			<key>image</key>
			<string>童小芯.jpg</string>
			<key>name</key>
			<string>童小芯</string>
		</dict>
		<dict>
			<key>phone</key>
			<string>13467540009</string>
			<key>work</key>
			<string>模特</string>
			<key>location</key>
			<string>中央戏剧学院</string>
			<key>image</key>
			<string>慕羽茜.jpg</string>
			<key>name</key>
			<string>慕羽茜</string>
		</dict>
		<dict>
			<key>phone</key>
			<string>13467540010</string>
			<key>work</key>
			<string>模特</string>
			<key>location</key>
			<string>中央音乐学院</string>
			<key>image</key>
			<string>罗小鹿.jpg</string>
			<key>name</key>
			<string>罗小鹿</string>
		</dict>
		<dict>
			<key>phone</key>
			<string>13467540011</string>
			<key>work</key>
			<string>模特</string>
			<key>location</key>
			<string>浙江大学</string>
			<key>image</key>
			<string>金小小.jpg</string>
			<key>name</key>
			<string>金小小</string>
		</dict>
		<dict>
			<key>phone</key>
			<string>13467540012</string>
			<key>work</key>
			<string>模特</string>
			<key>location</key>
			<string>华南理工大学</string>
			<key>image</key>
			<string>桓若灵.jpg</string>
			<key>name</key>
			<string>桓若灵</string>
		</dict>
		<dict>
			<key>phone</key>
			<string>13467540013</string>
			<key>work</key>
			<string>模特</string>
			<key>location</key>
			<string>上海戏剧学院</string>
			<key>image</key>
			<string>顾欣怡.jpg</string>
			<key>name</key>
			<string>顾欣怡</string>
		</dict>
	</array>
</dict>
</plist>
